.spacer{
  display:table;
  width:100%;
  padding:15px;
}

#image-tab .dz-preview{
	display:none;
}

.dz-error-mark svg, .dz-success-mark svg, .dz-details{
	display:none!important;
}

.session-return-wrapper{
  position:fixed;
  right:0px;
  bottom:0px;
  margin:30px;
  display:flex;
  justify-content: center;
}

.session-return-wrapper i.fa-times{
  cursor:pointer;
}

.session-return-success {
    border-radius: 5px;
    background-color: #5cb85c;
    padding: 9px;
    display: table;
    color: #fff;
    margin: 15px;
    font-size: 13px;
}

.session-return-error{
  background-color:#d9534f;
  border-radius: 5px;
  padding: 9px;
  display: table;
  color: #fff;
  margin: 15px;
  font-size: 13px;
}

.item+.item{
  margin-top:15px;
}

.carregando{
  width: 100%;
  height: 100%;
  left:0px;
  top:0px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.51);
  background-image: url(../img/load-carregando.gif);
  z-index: 9999;
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
}

/* ALERTAS */

.alerta{
	position:fixed;
	background:#fff;
	border-bottom:1px solid #ddd;
	display:table;
	margin:0;
	font-size:14px;
	font-weight: 300;
	bottom:15px;
	right:15px;
	z-index:9999;
	box-shadow:0px 3px 6px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 3px 6px rgba(0,0,0,0.1);
}

.alerta > div{
	display:table-cell;
	vertical-align: middle;
}

.alerta .titulo{
	font-weight: 600;
	margin:0;
	display:block;
	font-size:16px;
}

.alerta .fecha-alerta{
	display:table-cell;
	vertical-align:top;
	padding:10px;
	font-size:14px;
	display:block;
	color:#ccc;
}

.alerta .icone{
	color:#fff;
	padding:15px;
}

.alerta .text{
	padding:10px;
	width:240px;
	font-size:13px;
	color:#666;
}

.alerta-success{
	border:2px solid #4cae4c;
}

.alerta-success .titulo{
	color:#4cae4c;
}

.alerta-success .wrap-icone{
	background:#4cae4c;
}

.alerta-success .fecha-alerta:hover{
	color:#4cae4c;
}

.alerta-danger{
	border:2px solid #b72020;
}

.alerta-danger .titulo{
	color:#b72020;
}

.alerta-danger .wrap-icone{
	background:#b72020;
}

.alerta-danger .fecha-alerta:hover{
	color:#b72020;
}

.alerta-info{
	border:2px solid #0d4279;
}

.alerta-info .titulo{
	color:#0d4279;
}

.alerta-info .wrap-icone{
	background:#0d4279;
	margin-right:5px;
}

.alerta-info .fecha-alerta:hover{
	color:#0d4279;
}

.alerta-warning{
	border:2px solid #f0ad4e;
}

.alerta-warning .titulo{
	color:#f0ad4e;
}

.alerta-warning .wrap-icone{
	background:#f0ad4e;
}

.alerta-warning .fecha-alerta:hover{
	color:#f0ad4e;
}

.alerta.active{
	animation-name: alerta;
	animation-duration: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes alerta{
	0%{
		opacity:0;
		transform: translate(0,100%);
		-webkit-transform: translate(0,100%);
	}
	40%{
		transform: translate(0,0);
		-webkit-transform: translate(0,0);
	}
	60%{
		transform: translate(0,0) rotate(-15deg);
		-webkit-transform: translate(0,0) rotate(-15deg);
	}
	70%{
		transform: translate(0,0) rotate(10deg);
		-webkit-transform: translate(0,0) rotate(10deg);
	}
	80%{
		transform: translate(0,0) rotate(-5deg);
		-webkit-transform: translate(0,0) rotate(-5deg);
	}
	90%{
		transform: translate(0,0) rotate(2deg);
		-webkit-transform: translate(0,0) rotate(2deg);
	}
	100%{
		opacity:1;
		transform: translate(0,0) rotate(0deg);
		-webkit-transform: translate(0,0) rotate(0deg);
	}
}


.table-add{
  display:block;
  width:100%;
  text-align:center;
  padding:10px 15px;
  border: 1px dashed #ccc;
    margin-top: 5px;
  color:#00a65a;
  transition:.3s;
  -webkit-transition:.3s;
}

.table-add:hover{
  padding:15px;
  background:rgba(0,0,0,0.01);
}

.th-action{
  width:10%!important;
}

.lista-galeria{
	background: rgba(0, 0, 0, 0.03);
}
.lista-galeria .item{
	width: 120px;
	float: left;
	margin: 5px;
	background: #fff;
	box-shadow: 2px 2px 10px;
	padding: 5px;
}
.lista-galeria .item .thumb{
	background-position: center center;
	background-size: 100%;
	height: 110px;
	width: 110px;
	margin-bottom: 5px;
}
.lista-galeria .item .icon{
	transition-duration: 0.5s;
	cursor: pointer;
}
.lista-galeria .item .icon:hover{
	color: #337ab7;
}

.taggle_input{
	border: 1px solid #e1e1e1;
}

.icone-viewer{
	display:flex;
	align-items: center;
	justify-content: center;
	width:20%;
	min-height: 60px;
}
